:root {
    --main-color: #282828;
    --primary-color: #DDB053;
    --secondary-color: #284D79;
    --background-color: #F2EEE7;


}

body {
  background-color: var(--background-color);
}

.branding {
  background-color: var(--background-color);
}

.hero-menu {
  background-color: var(--primary-color);
}

.container {
  background-color: var(--background-color);
  color: var(--main-color);
}

#home-title {
  color: white;
}

#scroll-text {
  color: white;
}

.social-item {
  color: white;
  background-color: black;
}

.cta-home {
  color: white;
  background-color: var(--primary-color);
}

#cta-apply {
  color: white;
  background-color: var(--primary-color);
}

#desc-title {
  color: white;
}

#desc-text {
  color: white;
}

#desc-date {
  color: var(--primary-color);
}

#menu-icon {
  color: white;
}

#menu-arrow {
  color: white;
}

.date {
  background-color: white;
  border-color: black;
}

.nav-line {
  color: black;
}

.nav-item.active {
  color: var(--primary-color);
}

.title-line {
  background-color: var(--primary-color);
}

.title-underline {
  background-color: var(--primary-color);
}

.sem-location {
  color: var(--primary-color);
}

.seminar-cta {
  color: white;
  background-color: var(--secondary-color);
}

.inst-line {
  background-color: var(--primary-color);
}

.fa-university {
  color: var(--primary-color);
}

#sem-divider {
  color: var(--primary-color);
}

.fees {
  background-color: white;
}

#audit {
  background-color: #F3F3F3;
}

#grad-cred {
  background-color: #F3F3F3;
}

#fee-footer {
  color: #9B9B9B;
}

#name-field {
  color: var(--main-color);
  background-color: #EDDFC2;
}

#email-field {
  color: var(--main-color);
  background-color: #EDDFC2;
}

#submit {
  color: var(--main-color);
  background-color: #EDDFC2;
}

.footer-banner {
  background-color: var(--secondary-color);
}

.footer-container {
  color: white;
}
.line {
  background-color: white;
}

.banner {
  background-color: var(--background-color);
}