:root {
  --primary-font: "Corporate S";
  --title-font: "Playfair Display";
}


#home-title {
  font-family: "Corporate S", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#scroll-text {
  font-family: var(--primary-font);
  font-size: 1em;
}

.cta-home {
  font-family: var(--primary-font);
  font-size: .8em;
  font-weight: bold;
}

.seminar-cta {
  font-family: var(--primary-font);
  font-size: 1em;
  
}

.reg-cta {
  font-family: var(--primary-font);
  font-size: 1em;
}

#cta-apply {
  font-family: var(--primary-font);
  font-size: .8em;
  font-weight: bold;
}

#desc-text {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

#desc-date {
  font-family: var(--primary-font);
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2rem;
}

#desc-title {
  font-family: var(--title-font);
  font-size: 3.4em;
}

.social-item {
  font-size: 1.2em;

}

#menu-icon {
  font-size: 2em;
}

#menu-arrow {
  font-size: 1.5em;
}

#container-title {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: bold;
}

#month {
  font-family: var(--primary-font);

}

#day {
  font-family: var(--title-font);
  font-size: 2.4em;
  font-weight: bold;

}

#year {
  font-family: var(--primary-font);

}

.nav-item {
  font-family: var(--primary-font);
  font-size: 1em;
}

.nav-item.active {
  font-family: var(--primary-font);
  font-size: 1.8em;
}

.seminar-title {
  font-family: var(--title-font);
  font-size: 3.5em;
}

.sem-location {
  font-family: var(--primary-font);
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.seminar-text {
  font-family: var(--primary-font);
  font-size: 1.3em;
  line-height: 40px;
}

.inst-name {
  font-family: var(--title-font);
  font-size: 1.4em;
}

.inst-title {
  font-family: var(--primary-font);
  font-size: 1em;
}

.inst-college {
  font-family: var(--primary-font);
  font-size: .8em;
  font-weight: bold;
}

.sem-fee {
  font-family: var(--primary-font);
  font-size: 1.2em;
  font-weight: bold;
}

#fee-footer {
  font-family: var(--primary-font);
  font-size: 1em;
}

#scholar-text {
  font-family: var(--primary-font);
  font-size: 1.4em
}

.sem-subtitle {
  font-family: var(--title-font);
  font-size: 2.6em;
}

.news-title-upper {
  font-family: var(--primary-font);
  font-size: 1.5em;
}

#email-field {
  font-family: var(--primary-font);
  font-size: 1em;
}

#name-field {
  font-family: var(--primary-font);
  font-size: 1em;
}

#submit {
  font-family: var(--primary-font);
  font-size: 1em;
}

.footer-container {
  font-family: var(--primary-font);
  font-size: 1em;
}

.reg-title {
  font-family: var(--title-font);
  font-size: 1.6em;

}

.price {
  font-family: var(--primary-font);
  font-size: 1.6em;
}








