@import url("https://use.typekit.net/iim1ozy.css");

:root {
  --primary-font: "corporate-s", sans-serif;
  --title-font: "starling", serif;
}


#home-title {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

#scroll-text {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.cta-home {
  font-family: "corporate-s", sans-serif;
  font-size: .8em;
  font-weight: 700;
}

.seminar-cta {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
  
}

.reg-cta {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

#cta-apply {
  font-family: "corporate-s", sans-serif;
  font-size: .8em;
  font-weight: 700;
}

#desc-text {
  font-family: "corporate-s", sans-serif;
  font-size: 1.2em;
}

#desc-date {
  font-family: "corporate-s", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2rem;
}

#desc-title {
  font-family: var(--title-font);
  font-size: 56px;
  font-family: starling, serif;
  font-weight: 900;
  
}

.social-item {
  font-size: 1.2em;

}

#menu-icon {
  font-size: 2em;
}

#menu-arrow {
  font-size: 1.5em;
}

#container-title {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

#month {
  font-family: "corporate-s", sans-serif;

}

#day {
  font-family: var(--title-font);
  font-size: 2.2em;
  font-weight: 900;

}

#year {
  font-family: "corporate-s", sans-serif;

}

.nav-item {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.nav-item.active {
  font-family: "corporate-s", sans-serif;
  font-size: 1.8em;
}

.seminar-title {
  font-family: var(--title-font);
  font-size: 3.4em;
  font-weight: 900;
  font-style: normal;
}

.sem-location {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.seminar-text {
  font-family: "corporate-s", sans-serif;
  font-size: 1.3em;
  line-height: 40px;
}

.inst-name {
  font-family: var(--title-font);
  font-size: 1.4em;
  font-weight: 700;
  font-style: normal;
}

.inst-title {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.inst-college {
  font-family: "corporate-s", sans-serif;
  font-size: .8em;
  font-weight: 700;
}

.sem-fee {
  font-family: "corporate-s", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

#fee-footer {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

#scholar-text {
  font-family: "corporate-s", sans-serif;
  font-size: 1.4em
}

.sem-subtitle {
  font-family: var(--title-font);
  font-size: 2.6em;
  font-weight: 900;
  font-style: normal;
}

.news-title-upper {
  font-family: "corporate-s", sans-serif;
  font-size: 1.5em;
}

#email-field {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

#name-field {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

#submit {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.footer-container {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.reg-title {
  font-family: var(--title-font);
  font-size: 1.6em;

}

.price {
  font-family: "corporate-s", sans-serif;
  font-size: 1.6em;
}

#rb-info {
  font-family: "corporate-s", sans-serif;
  font-size: 1em;
}

.hero-menu-item {
  font-family: "corporate-s", sans-serif;
  font-size: 1.8em;
  
}

#hero-menu-title {
  font-family: "corporate-s", sans-serif;
  font-size: 1.6em;
  
}


/* Mobile media queries */
@media (max-width: 768px) {
  #desc-title {
    font-size: 2em;
    font-weight: 900;
  }

  .desc-text {

  }

  #container-title {
    font-size: .6em;  

  }

  .seminar-title {
    font-size: 1.3em;
  }

  .sem-subtitle {
    font-size: 1.2em;
  }

  .seminar-text {
    font-size: 1em;
  }

  .news-title-upper {
    font-size: 1em;
  }

  #scholar-text {
    font-size: 1em;
  }

  .sem-location {
    font-size: .8em;
  }
















}








